.card {
  width: 25rem;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
  margin-left: 4rem;
}

.card:hover {
  transform: scale(1.1);
}
