.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
}
.menu-btn {
  background: #da7071;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
  z-index: 2;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.menu-btn:hover,
.active {
  background: #d15052;
}
.menu-btn,
.icons-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-delay: 0.1s;
}
.menu-btn span {
  display: block;
  width: 30px;
  height: 3px;
  background: #333;
  margin-bottom: 5px;
  transition: background 0.3s, transform 0.3s;
}
.menu-btn span:last-child {
  margin-bottom: 0;
}
.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.active span:nth-child(2) {
  opacity: 0;
}
.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -5px);
}

.icons {
  position: relative;
}
.icon {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
  background: whitesmoke;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  transform: translate(0px, 0px);
  z-index: 1;
}
.icon-fire {
  margin: auto;
  font-size: 55px;
  color: #ff4422;
}
.icon-water {
  margin: auto;
  font-size: 55px;
  color: #3399ff;
}
.icon-electric {
  margin: auto;
  font-size: 55px;
  color: #f8be32;
}
.icon-grass {
  margin: auto;
  font-size: 50px;
  color: #77cc55;
}
.icon-ice {
  margin: auto;
  font-size: 55px;
  color: #66ccff;
}
.icon-fighting {
  margin: auto;
  font-size: 55px;
  color: #bb5544;
}
.icon-poison {
  margin: auto;
  font-size: 55px;
  color: #aa5599;
}
.icon-ground {
  margin-left: auto;
  margin-right: auto;
  font-size: 55px;
  color: #ddbb55;
}
.icon-flying {
  margin: auto;
  font-size: 55px;
  color: #8899ff;
}
.icon-psychic {
  margin: auto;
  font-size: 55px;
  color: #ff5599;
}
.icon-bug {
  margin: auto;
  font-size: 55px;
  color: #aabb22;
}
.icon-rock {
  margin: auto;
  font-size: 55px;
  color: #bbaa66;
}
.icon-ghost {
  margin: auto;
  font-size: 55px;
  color: #6666bb;
}
.icon-dragon {
  margin: auto;
  font-size: 55px;
  color: #7766ee;
}
.icon-dark {
  margin: auto;
  font-size: 55px;
  color: #3c2d23;
}
.icon-steel {
  margin: auto;
  font-size: 55px;
  color: #8e8e9f;
}
.icon-fairy {
  margin: auto;
  font-size: 55px;
  color: #ee99ee;
}
.icon-normal {
  margin: auto;
  font-size: 55px;
  color: #aaaa99;
}

.icon:hover {
  background: #da7071;
}
.icon:hover .element {
  color: #272c2c;
}
.element {
  margin: auto;
  color: whitesmoke;
  font-size: 50px;
}

.fire {
  margin: auto;
  color: #ff4422;
  font-size: 50px;
}

.icon:nth-child(1) {
  transition: background 0.3s, transform 0.3s 0.1s;
}
.icon:nth-child(2) {
  transition: background 0.3s, transform 0.3s 0.15s;
}
.icon:nth-child(3) {
  transition: background 0.3s, transform 0.3s 0.2s;
}
.icon:nth-child(4) {
  transition: background 0.3s, transform 0.3s 0.25s;
}
.icon:nth-child(5) {
  transition: background 0.3s, transform 0.3s 0.3s;
}
.icon:nth-child(6) {
  transition: background 0.3s, transform 0.3s 0.35s;
}
.icon:nth-child(7) {
  transition: background 0.3s, transform 0.3s 0.4s;
}
.icon:nth-child(8) {
  transition: background 0.3s, transform 0.3s 0.45s;
}
.icon:nth-child(9) {
  transition: background 0.3s, transform 0.3s 0.5s;
}
.icon:nth-child(10) {
  transition: background 0.3s, transform 0.3s 0.55s;
}
.icon:nth-child(11) {
  transition: background 0.3s, transform 0.3s 0.6s;
}
.icon:nth-child(12) {
  transition: background 0.3s, transform 0.3s 0.65s;
}
.icon:nth-child(13) {
  transition: background 0.3s, transform 0.3s 0.7s;
}
.icon:nth-child(14) {
  transition: background 0.3s, transform 0.3s 0.75s;
}
.icon:nth-child(15) {
  transition: background 0.3s, transform 0.3s 0.8s;
}
.icon:nth-child(16) {
  transition: background 0.3s, transform 0.3s 0.85s;
}
.icon:nth-child(17) {
  transition: background 0.3s, transform 0.3s 0.9s;
}
.icon:nth-child(18) {
  transition: background 0.3s, transform 0.3s 0.95s;
}

.show:nth-child(1) {
  transform: translate(50px, -300px);
}
.show:nth-child(2) {
  transform: translate(150px, -270px);
}
.show:nth-child(3) {
  transform: translate(230px, -200px);
}
.show:nth-child(4) {
  transform: translate(280px, -100px);
}
.show:nth-child(5) {
  transform: translate(300px, 0px);
}
.show:nth-child(6) {
  transform: translate(280px, 100px);
}
.show:nth-child(7) {
  transform: translate(230px, 200px);
}
.show:nth-child(8) {
  transform: translate(150px, 270px);
}
.show:nth-child(9) {
  transform: translate(50px, 300px);
}
.show:nth-child(10) {
  transform: translate(-50px, 300px);
}
.show:nth-child(11) {
  transform: translate(-150px, 270px);
}
.show:nth-child(12) {
  transform: translate(-230px, 200px);
}
.show:nth-child(13) {
  transform: translate(-280px, 100px);
}
.show:nth-child(14) {
  transform: translate(-300px, 0px);
}
.show:nth-child(15) {
  transform: translate(-280px, -100px);
}
.show:nth-child(16) {
  transform: translate(-230px, -200px);
}
.show:nth-child(17) {
  transform: translate(-150px, -270px);
}
.show:nth-child(18) {
  transform: translate(-50px, -300px);
}
